# Dependencies
node_modules

# Next.js
.next
out

# Build
dist
dist-ssr
*.local
tsconfig.tsbuildinfo

# Env
.env
.env.local
.env.*.local
sample-env.local

# Editor / OS
.DS_Store
*.log
.vscode/*
!.vscode/extensions.json
